<app-navbar></app-navbar>

<h1>{{ isEditMode ? 'Modifier l\'Emploi du Temps' : 'Créer un Nouvel Emploi du Temps' }}</h1>

<form [formGroup]="emploiForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="form-group">
      <label for="classe">Classe</label>
      <select id="classe" class="form-control" formControlName="classeId">
        <option *ngFor="let classe of classes" [value]="classe.id">{{ classe.nom }}</option>
      </select>
    </div>
    
    <label for="jour">Jour</label>
    <input type="text" id="jour" class="form-control" formControlName="jour">
  </div>

  <div class="form-group">
    <label for="titre">Titre</label>
    <input type="text" id="titre" class="form-control" formControlName="titre">
  </div>

  <div class="form-group">
    <label for="nomEnseignant">Nom de l'enseignant</label>
    <input type="text" id="nomEnseignant" class="form-control" formControlName="nomEnseignant">
  </div>

  <div class="form-group">
    <label for="startTime">Début</label>
    <input type="time" id="startTime" class="form-control" formControlName="startTime">
  </div>

  <div class="form-group">
    <label for="endTime">Fin</label>
    <input type="time" id="endTime" class="form-control" formControlName="endTime">
  </div>

  <div class="form-group">
    <label for="salle">Salle</label>
    <input type="text" id="salle" class="form-control" formControlName="salle">
  </div>

  <div class="form-group">
    <label for="recurrencePattern">Récurrence</label>
    <input type="text" id="recurrencePattern" class="form-control" formControlName="recurrencePattern">
  </div>

  <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Modifier' : 'Créer' }}</button>
  <button type="button" class="btn btn-secondary" (click)="onCancel()">Annuler</button>
</form>
