<!-- home.component.html -->
<div class="app-container" style="
  background: url('../assets/b.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  color: #e7aaaa;
  padding: 20px;">
  <h1>Bienvenue sur l'application de gestion d'emploi du temps</h1>
  <a class="navbar-brand" href="#">
    <img src="assets/logo.png" alt="Logo" style="height: 140px;">
  </a>
  <p>Veuillez vous connecter ou créer un compte pour accéder aux fonctionnalités.</p>

  <div class="button-group">
    <a routerLink="/login" class="btn btn-primary">Connexion</a>
    <a routerLink="/register" class="btn btn-secondary">Inscription</a>
  